.position-relative {
    position: relative;
}


.img-first {
    display: block;
}

.card-description {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: black;
    flex-shrink: 0;
    overflow: auto;
    position: absolute;
    width: 342px;
    opacity: 0;
    top: 0;
    height: 513px;
    padding: 10px;
    gap: 15px;
}

.card:hover .card-description {
    opacity: 1;
}

.card:hover .img-first {
    opacity: 0;
}